@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

body {
  background-color: #0b1747;
  margin: 20px;
    font-family: Mukta;
    color: #D4DBF5;
    font-size: 1.75em;

}

.top-bar {
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    font-weight: 800;

}

.userinfo {

}

.balance {
    color: #FFFF05;
}

.balance- {
    color: #8D07F6;
}

input {

    border: 0;
    background-color: transparent;
    color: #D4DBF5;
    font-size: 1em;
    font-weight: 800;
    border-bottom: 2px solid #D4DBF5;
    margin-left: 10px;
    width: 290px;

}
:focus{
    outline: none;
}


.userinfodiv {
    display: flex;
    justify-content: flex-end;
    flex: 1;

}

.content {
    max-width: 760px;
    margin: 90px auto;
}