@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');



body {
    background-color: #0b1747;
    margin: 50px;
    font-family: Mukta;
    color: #D4DBF5;
    font-size: 1.75em;
    letter-spacing: 0.01em;
}

a:link, a:visited {
  background-color: transparent;
  color: #D4DBF5;
  text-decoration: none;
}

.top-bar {
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    font-weight: 700;
}

.userinfo {
}

.userinfodiv, .balance-in-group, .new-group-link {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.balance {
    color: #FFFF05;
}

.balance- {
    color: #8D07F6;
}
.balance= {
    color: #00FF00;
}
.group-bar {
    display: flex;
        font-size: 1.5em;
        font-weight: 700;
        color: #D4DBF5 ;
}

.group-name{
}

.balance-in-group {
}

.balance{}

input {
    border: 0;
    background-color: transparent;
    color: #D4DBF5;
    font-size: 1em;
    font-weight: 700;
    border-bottom: 2px solid #D4DBF5;
    margin-left: 10px;
    width: 290px;
}


:focus{
    outline: none;
}


.content {
    max-width: 760px;
    margin: 90px auto;
}


button {
   background: none;
  border: none;
  color:  #D4DBF5;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
    font-family: Mukta;
    font-weight: 700;
    letter-spacing: 0.02em


}
label {
        font-weight: 700;
font-size-adjust: 40px;
}

.twoje-grupy{
    font-size: 1.5em;
    margin-bottom: 44px;
}

.new-group-link {
    font-size: 1.5em;
    font-weight: 800;
    margin-top: 44px;
}