{% extends 'base.html' %}

{% block title %} dołączasz do grupy? {% endblock %}

{% block content %}


{% if messages %}
{% for message in messages %}
<p>{{ message }}</p>
{% endfor %}
{% endif %}
<span class="infooo">
    zostałeś zaproszony przez {{ group.admin_id.user.username}} do grupy „{{ group.name }}" <b>przyjmujesz zaproszenie?</b>
</span>


  <form action="" method="post" class="form-class">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="tak!" name="yes"/>
        <input type="submit" value="nie!" name="no"/>
    </form>

{% endblock %}