{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block  title %} Cost Split {% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
</head>
<body>

{# pasek gorny #}
        <div class="top-bar">
    {# logo #}
            <a href="{% url 'home' %}">
            <img src="{% static 'img/logo.png' %}" alt ="CS logo" height="70px">
                </a>
    {# info o uzytkowniku #}
            <div class="userinfodiv">
                <span class="userinfo">
                {% if user.is_authenticated %}
                    Hej,{{ user.username }}
    {# kolorowanie balancu #}
                        {% if user.profile.balance > 0 %}      <span class="balance">+{{ user.profile.balance }}
                        {% elif user.profile.balance < 0 %}    <span class="balance-">−{{ user.profile.balance }}
                        {% else %}                             <span class="balance0">{{ user.profile.balance }}
                        {% endif %}                            </span>
                         <a href="{% url 'logout' %}">wyloguj</a></span>
                    {% else %} Zapraszamy
                {% endif %}
            </div>

        </div>

        <div id="content" class="content">
    {% block content %}{% endblock %}
</div>
</body>
</html>
