{% extends 'base.html' %}

{% block title %} Nowy wydatek {% endblock %}

{% block content %}
{% if messages %}
{% for message in messages %}
<p>{{ message }}</p>
{% endfor %}
{% endif %}
<div class="title-group-name">{{ group.name }}</div>
<div class="group-detail">
nowy wydatek?
 </div>

<form action="" method="post">
    {% csrf_token %}
    {# form.as_table #}

<table style="width: 60%; margin-top: 40px">
{% for field in form %}
         <tr style="height: 95px">
             <td style="width:30%">{{ field.errors }}{{ field.label_tag }}</td>
             <td>{{ field }}</td>
             {% if field.help_text %}
                <td><p class="help">{{ field.help_text|safe }}</p></td>
              {% endif %}

         </tr>
{% endfor %}
</table>
 <details>
            <summary><b>płaciłeś w innej walucie?</b></summary>
     <table style="width: 60%;"><tr>
         <td style="width: 50%;"><input type="number" name="amountO" value="0.0" step="0.01" required="" id="id_amount_waluty" oninput="przelicz()"></td>
                <td><select name="group_id" required="" id="wybrana_waluta" oninput="przelicz()">
                    {% for waluta in currencies %}
                    <option value="{{waluta.code}}">{{waluta.code}} {{waluta.rate}}</option>
                    {% endfor %}

                </select></tr></table></td>
        </details>



    <div class="group-detail" style="margin-top: 15px; margin-bottom: -10px"> z kim?</div>

    {% for user_from_group in group_users %}
    <label class="container" for="option{{user_from_group.user_id.id}}" >{{ user_from_group.user_id.user }}
    <input type="checkbox" name="payers" id="option{{user_from_group.user_id.id}}" value={{user_from_group.user_id.id}} checked="checked">
    <span class="checkmark"></span>
    </label>
<br/>
    {% endfor %}

<div class="link">
    <input type="submit" style="" value="+ dodaj wydatek"/></div>
</form>



<script>
document.querySelector('[for="id_title"]').innerHTML = "co?";
document.querySelector('[for="id_amount"]').innerHTML = "za ile?";

var amount = document.getElementById('id_amount');
var amount_waluty = document.getElementById('id_amount_waluty');


var waluty = {};

{% for waluta in currencies %}
waluty['{{waluta.code}}'] = parseFloat('{{waluta.rate}}'.replace(",","."));
{% endfor %}

function round2(number){
    return Number(Math.round(number+ 'e+2') + 'e-2');
}
function przelicz(){
    var waluta = document.getElementById('wybrana_waluta');
    var kurs = waluty[waluta.value];
    amount.value = round2(amount_waluty.value * kurs);
}


</script>
{% endblock %}
