{% extends 'base.html' %}

{% block title %} {{cost.title}}{% endblock %}

{% block content %}

        <h1>{{cost.title}}</h1>
<b>kwota:</b> <span class="balance">{{cost.amount}}</span><br>

<b>płacący:</b> {{ cost.payer_id }}<br>
<b>data:</b> {{cost.date}}<br>
<b>grupa:</b> {{ cost.group_id }}<br>
<b>uczestnicy kosztu:</b>
         <ul>{% for user in cost_users %}
       <li>{{ user.user_id }}</li>
        {% endfor %}</ul>

<!--        <p>Waluta: {{cost.currency}}</p>-->


{% if cost.payer_id.user == user %}
<!--<div class="link">-->
<!--<a href="{% url 'cost_edit' cost.id %}">Edytuj wydatek </a></div>-->
<div class="link">
<a href="{% url 'cost_delete' cost.id %}">usuń wydatek </a></div>
{% endif %}
<div class="link">
    <a href="javascript:history.back();">powrót do grupy</A></div>
{% endblock %}

<!--TODO:dadac tu trzeba cos-->