{% extends 'base.html' %}

{% block title %} Nowy wydatek {% endblock %}

{% block content %}
<!--TODO: Dodać miejsce na wiadomości (o złej kwocie albo za małej liczbie płacących)-->
<div class="title-group-name">{{ group.name }}</div>
<div class="group-detail">
dodajemy wydatek?
 </div>

<form action="" method="post">
    {% csrf_token %}
    {# form.as_table #}

<table style="width: 60%; margin-top: 40px">
{% for field in form %}
         <tr style="height: 95px">
             <td style="width:30%">{{ field.errors }}{{ field.label_tag }}</td>
             <td>{{ field }}</td>
             {% if field.help_text %}
                <td><p class="help">{{ field.help_text|safe }}</p></td>
              {% endif %}

         </tr>
{% endfor %}
</table>

    <div class="group-detail" style="margin-top: 15px; margin-bottom: -10px"> z kim?</div>

    {% for user_from_group in group_users %}
    <label class="container" for="option{{user_from_group.user_id.id}}" >{{ user_from_group.user_id.user }}
    <input type="checkbox" name="payers" id="option{{user_from_group.user_id.id}}" value={{user_from_group.user_id.id}} checked="checked">
    <span class="checkmark"></span>
    </label>
<br/>
    {% endfor %}

<div class="link">
    <input type="submit" style="" value="+ dodaj wydatek"/></div>
</form>



<script>
document.querySelector('[for="id_title"]').innerHTML = "co?";
document.querySelector('[for="id_amount"]').innerHTML = "za ile?";
</script>
{% endblock %}
