{% extends 'base.html' %}

{% block title %} {{cost.title}}{% endblock %}

{% block content %}

        <h1>{{cost.title}}</h1>
<b>kwota:</b> <span class="balance">{{cost.amount}}</span><br>
<b>płacący:</b> {{ cost.payer_id }}<br>
<b>grupa:</b> {{ cost.group_id }}<br>
<b>uczestnicy kosztu:</b><br>
        {% for user in cost_users %}
        <ul><li>{{ user.user_id }}</li></ul>
        {% endfor %}
        <p>Data utworzenia: {{cost.date}}</p>
        <p>Waluta: {{cost.currency}}</p>


{% if cost.payer_id.user == user %}
<div class="link">
<a href="{% url 'cost_edit' cost.id %}">Edytuj wydatek </a></div>
<div class="link">
<a href="{% url 'cost_delete' cost.id %}">Usuń wydatek </a></div>
{% endif %}

{% endblock %}

<!--TODO:dadac tu trzeba cos-->