{% extends 'base.html' %}

{% block title %} Nowy wydatek {% endblock %}

{% block content %}
<h1> Wydatek </h1>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {% for user_from_group in group_users %}

    <input type="checkbox" name="payers" id="option{{user_from_group.user_id.id}}" value={{user_from_group.user_id.id}}>
    <label for="option{{user_from_group.user_id.id}}">{{ user_from_group.user_id.user }}</label><br/>

    {% endfor %}

    <input type="submit" value="Utwórz wydatek"/>
</form>
{% endblock %}