{% extends 'base.html' %}

{% block title %} Cost Split twoje grupy {% endblock %}

{% block content %}
{% if messages %}
{% for message in messages %}
<p>{{ message }}</p>
{% endfor %}
{% endif %}

<div class="title-group-name">{{ group.name }}</div>


{# usun grupe #}
        {% if group.admin_id == request.user.profile %}
        <details>
            <summary><b>usunąć grupe?</b></summary>
            <a href="">usuń teraz</a>
        </details>
        {% endif %}


{# członkowie #}
        <details>
          <summary><b>członkowie</b></summary>
         <ul>
            {% for user in users_in_group %}
            <li>{{ user.user_id.user.username }}</li>
            {% endfor %}
        </ul>
        </details>
        <!--
        <b>członkowie:</b> {% for user in users_in_group %}{{ user.user_id.user.username }}, {% endfor %}
        -->

{# link z zaproszeniem #}
        <details>
            <summary><b>link z zaproszniem</b></summary>
        {{ request.META.HTTP_HOST }}/inv/{{ group.invite_url }}
        </details>

{# twój bilans/ureguluj #}
        <div class="group-detail">
            <span>twój bilans: {% if balance.balance > 0 %}      <span class="balance">  +{{ balance.balance }}
        {% elif balance.balance < 0 %}    <span class="balance-"> −{{ balance.balance }}
        {% else %}                      <span class="balance0">  jesteś kwita
                    {% endif %}</span></span></div>
        <div class="link"> - ureguluj </div>


{# dodaj platność #}
        <div class="group-detail">
            <span>zapłaciłeś za coś? </span>
            </div>
        <div class="link"> + dodaj wydatek </div>



{# wydatki i płatności #}
        <div class="group-detail">
            <span>spis akcji </span>
        </div>

        <table style="width: 100%; margin-top: 60px">

                <tr>
                   <td><b>co?</b></td>
                   <td style="width:20%"><b>ile?</b></td>
                   <td style="width:20%"><b>kto?</b></td>
                   <td style="width:20%"><b>?   </b></td>
               </tr>
                {% for cost in user_costs %}
               <tr>
                   <td>{{ cost.cost_id.title }}</td>
                   <td><span class="balance-"><b>{{ cost.cost_id.amount }}</b></span></td>
                   <td>{{ cost.cost_id.payer_id.user.username }}</td>
                   <td>
<a href="{% url 'cost_edit' cost.id %}"    style="font-size: 0.4em; ">edytuj</a><br>
<a href="{% url 'cost_delete' cost.id %}"  style="font-size: 0.4em">usuń  </a>
                   </td>
                </tr>
                {% endfor %}

                {% for payment in payments %}
               <tr>
                   <td>Spłata</td>
                   <td><span class="balance"><b>{{ payment.amount }}</b></span></td>
                   <td>{{ payment.user_id.user.username }}</td>
                </tr>
                {% endfor %}
        </table>



{% endblock %}