{% extends 'base.html' %}

{% block title %} Cost Split twoje grupy {% endblock %}

{% block content %}



{% if messages %}
{% for message in messages %}
<p>{{ message }}</p>
{% endfor %}
{% endif %}

<h2> twoje grupy: </h2>

{% for group in groups %}

<a href="{% url 'group_view' group.group_id.id %} ">
    <div class="group-bar">
        <span class="group-name">{{ group.group_id.name }}</span>
        <div class="balance-in-group">

{% if group.balance > 0 %}      <span class="balance">  +{{ group.balance }}
{% elif group.balance < 0 %}    <span class="balance-"> {{ group.balance }}
{% else %}                      <span class="balance0">  jesteś kwita
{% endif %}
                                </span>
        </div>
                         {# <p>{{ request.META.HTTP_HOST }}/inv/{{ group.group_id.invite_url }}</p> <p>{{ group.user_id.user.username }}</p>#}

    </div>
</a>

{% endfor %}

<div class="new-group-link">
<a href="{% url 'group_create' %}"> + dodaj grupę </a>
</div>

<a href="{% url 'user_history' %}"> Historia wydatków i spłat </a>

<h1 id="test_ws">HUJ KURWA HUJ</h1>


<script language="javascript">
    var ws_url = 'ws://' + window.location.host + '/groups/';
    var ticksSocket = new WebSocket(ws_url);

    ticksSocket.onmessage = function(event) {
        var data = JSON.parse(event.data);
        console.log('data', data);
        document.getElementById("test_ws").innerHTML = data;
    };
</script>
{% endblock %}

