{% extends 'base.html' %}

{% block title %} Cost Split twoje grupy {% endblock %}

{% block content %}
{% if messages %}
{% for message in messages %}
<p>{{ message }}</p>
{% endfor %}
{% endif %}

<div class="title-group-name">{{ group.name }}</div>


{# usun grupe #}
        {% if group.admin_id == request.user.profile %}
        <details>
            <summary><b>usunąć grupe?</b></summary>
            <a href="{% url 'group_delete' group.id %}">usuń teraz</a>
        </details>
        {% endif %}


{# członkowie #}
        <details>
          <summary><b>członkowie</b></summary>
         <ul>
            {% for user in users_in_group %}
            <li>{{ user.user_id.user.username }}</li>
            {% endfor %}
        </ul>
        </details>
        <!--
        <b>członkowie:</b> {% for user in users_in_group %}{{ user.user_id.user.username }}, {% endfor %}
        -->

{# link z zaproszeniem #}
        <details>
            <summary><b>link z zaproszniem</b></summary>
                <input id="input" type="text" value="{{ request.META.HTTP_HOST }}/inv/{{ group.invite_url }}"/>
            <div class="link">
                <button id="copy">Copy</button></div>
                        <script>function copy() {
                          var copyText = document.querySelector("#input");
                          copyText.select();
                          document.execCommand("copy");
                        }
                        document.querySelector("#copy").addEventListener("click", copy);</script>
        </details>


{# twój bilans/ureguluj #}
        <div class="group-detail">
            <span>twój bilans: {% if balance.balance > 0 %}      <span class="balance">  +{{ balance.balance }}
        {% elif balance.balance < 0 %}    <span class="balance-"> {{ balance.balance }}
        {% else %}                      <span class="balance0">  jesteś kwita
                    {% endif %}</span></span></div>

        {% if balance.balance < 0 %}
        <div class="link"> <a href="{% url 'make_payment' group.id %}"> − ureguluj</a> </div>
        {% endif %}


{# dodaj platność #}
        <div class="group-detail">
            <span>zapłaciłeś za coś? </span>
            </div>
        <div class="link"><a href="{% url 'cost_new' group.id %}">+ dodaj wydatek  </a> </div>



{# wydatki i płatności #}
        <div class="group-detail">
            <span>spis akcji </span>
        </div>
<p></p>
<form type='get' action="/cost" style ="margin:0">
    <label for="search_box">Wyszukiwarka wydatków</label>
    <input id="search_box" type="text" name="search_box" placeholder="Search"/>
    <button id="search_submit" type="submit">Wyszukaj</button>
</form>


        <table style="width: 100%; margin-top: 60px">

                <tr>
                   <td><b>co?</b></td>
                   <td style="width:20%"><b>ile?</b></td>
                   <td style="width:20%"><b>kto?</b></td>
                   <td style="width:20%"><b>kiedy?</b></td>
                   <td style="width:20%"><b>?   </b></td>
               </tr>
                {% for cost in user_costs %}
               <tr>
                   <td>{{ cost.cost_id.title }}</td>
                   <td><span class="balance-"><b>{{ cost.cost_id.amount }}</b></span></td>
                   <td>{{ cost.cost_id.payer_id.user.username }}</td>
                   <td>{{ cost.cost_id.date }}</td>
                   <td>
<a href="{% url 'cost_edit' cost.id %}"    style="font-size: 0.4em; ">edytuj</a><br>
<a href="{% url 'cost_delete' cost.id %}"  style="font-size: 0.4em">usuń  </a>
                   </td>
                </tr>
                {% endfor %}

                {% for payment in payments %}
               <tr>
                   <td>Spłata</td>
                   <td><span class="balance"><b>{{ payment.amount }}</b></span></td>
                   <td>{{ payment.user_id.user.username }}</td>
                   <td>{{ payment.date }}</td>
                </tr>
                {% endfor %}
        </table>



{% endblock %}