{% extends 'base.html' %}

{% block title %} Cost Split twoje grupy {% endblock %}

{% block content %}



{% if messages %}
{% for message in messages %}
<p>{{ message }}</p>
{% endfor %}
{% endif %}

{% for group in groups %}

<a href="{% url 'group_view' group.group_id.id %} ">
    <div class="group-bar">

        <span class="group-name">{{ group.group_id.name }}</span>

        <div class="balance-in-group">
{% if group.balance > 0 %}      <span class="balance">+{{ group.balance }}
{% elif group.balance < 0 %}    <span class="balance-">−{{ group.balance }}
{% else %}                      <span class="balance">{{ group.balance }}
{% endif %}
            </span>
        </div>
                         {# <p>{{ request.META.HTTP_HOST }}/inv/{{ group.group_id.invite_url }}</p> <p>{{ group.user_id.user.username }}</p>#}

    </div>
</a>

{% endfor %}

<a href="{% url 'group_create' %}"> Dodaj nową grupę </a>

{% endblock %}
