{% extends 'base.html' %}

{% block title %} Strona główna {% endblock %}

{% block content %}
        {% if user.is_authenticated %}
<div> Hi {{ user.username }}!
    {{profile.balance}}
    <p><a href="{% url 'logout' %}">Log Out</a></p>
</div>


    <form type='get' action="/group" style ="margin:0">
    <label for="search_box">Wyszukiwarka</label>
    <input id="search_box" type="text" name="search_box" placeholder="Search"/>
        <button id="search_submit" type="submit">Wyszukaj</button>
    </form>
        <div class="Group">
            <ol>
                {% for group in object_list %}
                <li> <a href = "{% url 'group_detail'%}">{{group.name}}></a></li>
                {% endfor %}
        </ol>
        </div>
        <p> <a href="{% url 'new_group' %}">Dodaj nową grupę </a></p>

    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>


    {% else %}
          <p>You are not logged in</p>
          <a href="{% url 'login' %}">Log In</a>
            <p> </p>
            <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
    </div>
{% endblock %}