{% extends 'base.html' %}


{% block title %} Strona główna {% endblock %}

{% block content %}
        {% if user.is_authenticated %}

            <div> <p> Hi {{ user.username }}! <a href="{% url 'logout' %}">Wyoguj się</a> </p></div>

            <div class="groupmain"><a href="{% url 'group_list' %}">Twoje grupy</a></div>
    {% else %}



<h2>logujemy?</h2>
        <form method="POST">
        {% csrf_token %}
        <table style="width: 70%; margin-top: 40px">
        {% for field in form %}
                 <tr style="height: 95px">
                     <td style="width:30%">{{ field.errors }}{{ field.label_tag }}</td>
                     <td>{{ field }}</td>
                     {% if field.help_text %}
                        <td><p class="help">{{ field.help_text|safe }}</p></td>
                      {% endif %}
                </tr>
            {% endfor %}
         </table>

<div class="link">
    <button type ="submit">Zaloguj się</button></div>
    </form>

            <p> </p>

            <p><a href="{% url 'password_reset' %}">Nie pamiętam hasła</a></p>
            <p>Nie posiadasz konta? <a href="{% url 'signup' %}">Zarejestruj się!</a> </p>



<script>
document.querySelector('[for="id_username"]').innerHTML = "nazwa";
document.querySelector('[for="id_password"]').innerHTML = "hasło";
</script>
    {% endif %}

{% endblock %}