        {% extends 'base.html' %}

        {% block title %} Nowy payment {% endblock %}

        {% block content %}
{# Tytuł #}
        <h1> uregulować? </h1>
        <form action="" method="post" oninput="przelicz()">
            {% csrf_token %}
{# Pola formularza #}
        <table style="width: 60%; margin-top: 40px">
        {% for field in form %}
                 <tr style="height: 95px">
                     <td style="width:30%">{{ field.errors }}{{ field.label_tag }}</td>
                     <td>{{ field }}</td>
                     <td> </td>
                     {% if field.help_text %}
                        <td><p class="help">{{ field.help_text|safe }}</p></td>
                      {% endif %}
                 </tr>
        {% endfor %}
        </table>
{# interaktywna lista spłacanych #}
    <table style="width: 100%;">
                <tr>
                     <td style="width:30%"><b>komu?</b></td>
                     <td style="width:30%"><b>ile?</b></td>
                    <td><b>ile będziesz dłużny?</b></td>
                 </tr>
        {% for creditor in creditors %}
              <tr>
                     <td>{{creditor.user_id.user.username}} </td>
                     <td><span id="{{creditor.user_id.user.id}}">{{creditor.balance}}</span></td>
                  <td><span id="{{creditor.user_id.user.id}}zostalo">{{creditor.balance}}</span></td>
                 </tr>
        {% endfor %}
      </table>
{# wysłanie formularza #}
            <div class="link">
                <input type="submit" value="ureguluj"/></div>
        </form>



<button onclick="amount.value = round2(max_amount);">wszystko</button>
{# "Wróc" #}
          <div class="link">
              <button onclick="history.back()">wróć</button></div>
<script>

function round2(number){
    return Number(Math.round(number+ 'e+2') + 'e-2');
}
document.querySelector('[for="id_amount"]').innerHTML = "kwota:";
var _str = "{{ user_balance.balance }}";
var __str = _str.replace(",",".");
var max_amount = -1 * parseFloat(__str) ;
var amount = document.getElementById('id_amount');
amount.placeholder='0.00';
amount.min = "0.01";
amount.step= "0.01";
amount.max = round2(max_amount);
amount.value = round2(max_amount);

var creditors = [];
{% for creditor in creditors %}
var _value = parseFloat({{creditor.balance}})
creditors.push(["{{creditor.user_id.user.id}}","{{creditor.user_id.user.id}}zostalo", _value]);
{% endfor %}

function przelicz(){
    for (var creditor of creditors) {
        var obj = document.getElementById(creditor[0]);
        obj.innerHTML = Number(Math.round(creditor[2] * amount.value / max_amount + 'e+2') + 'e-2') ;
        var obj2 = document.getElementById(creditor[1]);
        obj2.innerHTML = Number(Math.round((creditor[2]-(creditor[2] * amount.value / max_amount ))+ 'e+2') + 'e-2');
    }
}
przelicz();
</script>

{% endblock %}